# Visual Studo Code
.vscode

# EBSDK configuration
sdkmake.conf
sdkshell.conf

# Built binaries
ebtools/src/common/bit/bit
ebtools/src/common/hex32/hex32
ebtools/src/common/hexpad/hexpad
ebtools/src/common/ic4mat/ic4mat
ebtools/src/common/list/alist
ebtools/src/common/list/clist
ebtools/src/common/makerom/makerom
ebtools/src/common/objtest/ccheck
ebtools/src/common/objtest/newstrip
ebtools/src/common/pvc/pvc
ebtools/src/common/rcsv/rcsv
ebtools/src/common/repeat/rpp
ebtools/src/common/srec/srec
ebtools/src/common/srom/srom
ebtools/src/common/strip/astrip
ebtools/src/common/strip/cstrip
ebtools/src/common/sysgen/sysgen
ebtools/src/common/uload/uload
ebtools/src/common/uload/xload

ebtools/src/common/hfcomp/hfcomp
ebtools/src/common/hfcomp/*.img

ebtools/src/common/mini_dbg/mini_rcs.h
ebtools/src/common/mini_dbg/ic4mat.log
ebtools/src/common/mini_dbg/*.sr
ebtools/src/common/mini_dbg/*.ic

ebtools/src/unix/gas/gas
